body {
    background-color: #f9f9f9; /*Memberi warna latar belakang halaman*/
    font-family: 'Segoe UI', sans-serif; /*Mengatur jenis font untuk teks*/
    color: #333; /*Mengatur warna teks umum*/
}

h1 {
    color: #2c3e50; /*Mengatur warna*/
    font-size: 28px; /*Mengatur ukuran font*/
}

p {
   font-size: 16px;
   font-weight: normal; 
}

.highlight {
    color: white;
    background-color: #e74c3c; /*Memberi warna latar belakang*/
    font-weight: bold;
}