 body {
      height: 2000px;
      padding: 40px;
      font-family: sans-serif;
    }

    .static {
      background-color: #eee;
      padding: 10px;
    }

    .relative {
      position: relative;
      top: 20px;
      left: 20px;
      background-color: lightblue;
      padding: 10px;
    }

    .absolute-container {
      position: relative;
      background-color: #f5f5f5;
      height: 150px;
      margin-bottom: 30px;
    }

    .absolute {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: orange;
      padding: 10px;
    }

    .fixed {
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: tomato;
      padding: 10px;
      color: white;
    }

    .sticky {
      position: sticky;
      top: 0;
      background-color: yellow;
      padding: 10px;
    }