    html {
      font-size: 16px;
    }

    .kotak-px {
      width: 200px;
      height: 100px;
      background-color: lightblue;
      margin-bottom: 10px;
    }

    .kotak-persen {
      width: 50%;
      height: 100px;
      background-color: lightgreen;
      margin-bottom: 10px;
    }

    .kotak-em {
      font-size: 1.5em;
      padding: 1em;
      background-color: salmon;
      margin-bottom: 10px;
    }

    .kotak-rem {
      font-size: 2rem;
      padding: 1rem;
      background-color: gold;
      margin-bottom: 10px;
    }

    .kotak-viewport {
      width: 100vw;
      height: 20vh;
      background-color: orchid;
      margin-bottom: 10px;
    }