    .container {
      position: relative;
      height: 200px;
      background-color: #f1f1f1;
    }

    .box1, .box2 {
      width: 150px;
      height: 150px;
      position: absolute;
      top: 25px;
    }

    .box1 {
      left: 50px;
      background-color: lightblue;
      z-index: 1;
    }

    .box2 {
      left: 100px;
      background-color: tomato;
      z-index: 10;
    }