body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.kotak {
    background-color: #ffffff;
    padding: 20px; /*jarak isi tepi*/
    border: 2px solid #3498db; /*garis tepi*/
    margin: 30px auto; /*jarak luar*/
    width: 300px;
}