.kotak-block {
      display: block;
      background-color: lightblue;
      padding: 10px;
      margin-bottom: 10px;
    }

    .kotak-inline {
      display: inline;
      background-color: lightgreen;
      padding: 10px;
    }

    .kotak-inlineblock {
      display: inline-block;
      background-color: orange;
      padding: 10px;
      width: 100px;
    }

    .hidden {
      visibility: hidden;
    }

    .none {
      display: none;
    }