body {
      font-family: Georgia, serif;
      background-color: #fafafa;
      padding: 20px;
    }

    h1 {
      text-align: center;
      font-style: italic;
    }

    p {
      line-height: 1.8;
      text-align: justify;
    }

    .catatan {
      font-style: oblique;
      text-align: right;
    }